* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  overflow-x: hidden;
}

html, body {
  display: flex;
  flex-direction: column;
  height: 100%;
}

main {
  flex: 1;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--bg-color-sec);
  padding: 1em 1em;
  margin-top: auto;
}

.services-footer {
  background-color: var(--bg-color-pri);
}

a:hover {
  opacity: 80%;
}

#mode-btn {
  text-decoration: none;
  width: 170px;
  border: 1px solid var(--fc-pri);
  text-align: center;
  border-radius: 100px;
  color: var(--fc-sec);
  position: fixed;
  bottom: 80px;
  right: 20px;
  z-index: 2;
  padding: 0 .5rem;
  background-color: var(--bg-color-sec);
}

#mode-btn:hover {
  opacity: 50%;
}

.video-background {
  position: relative;
  width: 100%;
  overflow: hidden;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  flex: 1;
}

.video-background video {
  position: absolute;
  top: 0;
  left:0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1; 
  object-position: center 25%;
  opacity: 80%;
}

.add-service-btn {
  display: flex;
  justify-content: center;
  width: 100%;
}

.page-title {
  padding: 2rem;
  text-align: center;
}

.content {
  display: flex;
  padding-top: 50px;
}

.navbar {
  background-color: var(--bg-color-ter) !important;
}

.navbar-home {
  position: absolute;
  top: 0;
  left:0;
  width: 100%;
}

.logo {
    height: 50px;
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 1em;
}

.co-name {
  display: flex;
  align-items: center;
}

.brand-name {
  display: flex;
  flex-direction: column;
  color: var(--fc-pri);
}

.nav-link {
  color: var(--fc-pri);
}

.main-details {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-family: "Roboto Condensed", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    width: 280px;
}

.main-details h2 {
  font-weight: 300;
  letter-spacing: .7em;
}

.main-details p {
    font-size: 1rem;
    font-weight: 400;
    text-align: justify;
}

.services-form-buttons {
  gap: 1em;
}

.main-button-container {
  display: flex;
  flex-direction: column;
  gap: 1em;
  width: 100%;
}

.main-details-button {
  width: 95%;
  padding: .2em 0;
  margin: 0 auto;
  background-color: var(--bg-color-pri);
  border: none;
  text-align: center;
  text-decoration: none;
  color: var(--fc-pri);
}

.book-button {
  grid-column: 1/4;
  align-self: center;
}

.services-details-button {
  width: 95%;
  padding: .2em 0;
  margin: 0 auto;
  background-color: var(--bg-color-sec);
  border: none;
  text-align: center;
  text-decoration: none;
  color: var(--fc-sec);
}

.social-media-links {
  display: flex;
  font-size: 1.5rem;
}

.about-us {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--bg-color-pri);
}

.section-headers {
  text-align: center;
  margin-top: 20px;
  letter-spacing: .2em;
  font-weight: 300;
}

.about-us-row {
  display: flex;
  gap: 2em;
  justify-content: space-around;
  align-items: center;
}

.about-us-img {
  width: 200px;
}

.about-us-text {
  max-width: 500px;
}

.about-us-text-header {
  font-size: 1.5rem;
  font-weight: 300;
  /* letter-spacing: .5rem; */
}

.about-us-text-main {
  font-size: .9rem;
  font-weight: 300;
}

.pet-name {
  font-size: 1rem;
  text-align: end;
  font-style: italic;
}

.why-us {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--bg-color-sec);
  padding-bottom: 2em;
}

.why-us h2 {
  margin-bottom: 1em;
}

.why-us-block-group {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 3em;
}

.why-us-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
}

.why-us-img {
  width: 100px;
}

.why-us-heading {
  font-size: 1.5rem;
  font-weight: 300;
}

.why-us-text {
  font-size: .9rem;
  font-weight: 300;
  text-align: justify;
}

.email-signup {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--bg-color-quad);
  color: white;
  padding: 3em 0;
}

.email-container {
  max-width: 50%;
}

.email-container p, .email-container h2, .email-container div{
  z-index: 1;
  position: relative;
}

.lizard-img {
  width: 200px;
  position: absolute;
  left: -55px;
  top: -70px;
  transform: rotate(20deg) scaleX(-1);
  z-index: 0;
}

.treatments {
  display: grid;
  grid-template-rows: 300px auto;
  min-height: 100%;
}

.treatments-top {
  background-color: var(--bg-color-pri);
  display: flex;
  flex-direction: column;
  align-items: center;
}


.treatments-top h1 {
  font-size: 3rem;
  color: var(--fc-pri);
  text-align: center;
  letter-spacing: .1em;
  padding-top: 1.3rem;
}

.treatments-top p {
  color: var(--fc-sec);
}

.treatments-bottom {
  background-color: var(--bg-color-sec);
  flex: 1;
}

.reg-form-section {
  background-color: var(--bg-color-ter);
  padding: 2rem 0;
}

.reg-form {
  background-color: var(--bg-color-sec);
}

.services-card {
  position: relative;
  top: -50px;
}

.services-cards-container {
  width: 100%;
  display: flex;
  gap: 6em;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0 4rem;
}

.services-card {
  max-width: 350px;
}

.service-img {
  width: 300px;
  height: 225px;
  object-fit: cover;
  box-shadow: 5px 5px 20px rgb(66, 66, 66);
}

.services-detail-card {
  display: flex;
  flex-direction: column;
  gap: .2rem;
  width: 275px;
  height: 240px;
  align-self: flex-end;
  position: relative;
  top: -50px;
  left: 70px;
  background-color: var(--bg-color-pri);
  padding: .5rem;
  /* border-radius: 5px; */
  box-shadow: 5px 5px 20px rgb(66, 66, 66);
  color: var(--fc-pri);
}

.services-detail-card a {
  margin-top: auto;
}

.services-detail-card h3,
.services-detail-card p {
  margin: 0;
}

.service-description {
  font-size: .8rem;
}

.registered-list {
  display: flex;
  flex-direction: column;
  align-items: center;  
}

.metrics-container {
    display: flex;
    gap: 1rem;
    justify-content: space-around;
    flex-wrap: wrap;
    max-width: 700px;
    margin: 0  auto;
    padding: 1rem 0;
}

.metric-container {
    height: 100px;
    width: 300px;
    background-color: var(--bg-color-ter);
    /* box-shadow: 5px 5px 30px var(--bg-color-sec); */
    border: 3px solid var(--bg-color-sec);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    /* padding: 2rem; */
    align-items: center;
    justify-content: center;
    /* gap: 1rem; */
}

.metric {
  font-size: 1.3rem;

}

.no-display {
    display: table-cell;
}

.modal-button {
  padding: 1rem 0;
}

.registration-form {
    grid-area: register;
    width: 80%;
    margin: 0 auto;
    gap: 1rem;
}

.border {
    padding: 1rem;
    background-color: var(--bg-color-ter) !important;
}

.pets-table {
  max-width: 700px;
}

.main-register-section {
  background-color: var(--bg-color-pri);
  display: flex;
  flex-direction: column;
  flex: 1;
}

.main-appointments-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1;
  background-color: var(--bg-color-pri);
  min-height: 100%;
}


@media (max-width: 1000px) {
  .why-us-block-group {
    grid-template-columns: 1fr 1fr;
  }

  .about-us-row {
    margin: 0 20px;
  }
}

@media (max-width: 800px) {
  .why-us-block-group {
    grid-template-columns: 1fr;
  }

  .about-us-row {
    margin: 0 20px;
  }

  .no-display {
    display: none;
    }
}